*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address,
.contacts {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .hero .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
  overflow: auto;
}

.modal {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) rotate(0deg);
  transition: all 250ms linear 250ms;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}

.backdrop.is-hidden .modal {
  transform: scale(0) rotate(720deg);
  transition: all 250ms linear 0ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn:hover > svg,
.close-btn:focus > svg {
  fill: #2196f3;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms linear 250ms;
}

.form {
  padding: 30px 15px;
}

@media screen and (min-width: 425px) {
  .form {
    padding: 40px;
  }
}

.form-title {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form-field-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-label::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.submit-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  transition: all 250ms linear;
}

.submit-btn:hover {
  transition: all 250ms linear;
  top: 2px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3);
}

.input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment .input {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  display: flex;
  top: 50%;
  left: 15px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .modal-svg {
  fill: #2196f3;
}

.check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-title {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-title-link {
  padding-left: 0.3em;
}

.check_input ~ .checkbox-title::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
}

.check_input:checked ~ .checkbox-title::before {
  background-color: #2196f3;
  border-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3e%3c/svg%3e");
  background-position: center;
}

.checkbox-svg {
  width: 16px;
  height: 15px;
  position: absolute;
  display: flex;
  top: 4px;
  left: 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team .title,
.clients .title {
  font-size: 28px;
  padding-top: 60px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team .title,
  .clients .title {
    padding-top: 92px;
  }
}

.features-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}

.footer .features-title {
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .features-title {
    margin-bottom: 0;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.footer .social-list {
  width: 206px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 20px;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer .social-list {
    padding: 0;
    margin-bottom: 0;
  }
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.footer .social-list-link:hover,
.footer .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.footer .social-list-svg {
  fill: #ffffff;
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo-blue {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 0 auto;
    position: relative;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
  .navigation-list {
    align-items: center;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation-list-link {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: #2196f3;
  }
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .menu-button.is-open .icon-burger {
    display: none;
  }
  .menu-button .icon-menu-close {
    display: none;
  }
  .menu-button.is-open .icon-menu-close {
    display: block;
  }
  .nav-svg,
  .nav-svg {
    fill: #212121;
    transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-svg:hover, .nav-svg:focus,
  .nav-svg:hover,
  .nav-svg:focus {
    fill: #2196f3;
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    z-index: 100;
    padding: 60px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .nav-menu.is-open {
    display: block;
  }
  .active {
    color: #2196f3;
  }
  .active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -8px;
    background-color: #2196f3;
    border-radius: 4px;
  }
  .header-address {
    margin-top: 60px;
  }
  .header-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts:hover, .header-contacts:focus {
    color: #2196f3;
  }
  .tel {
    margin-top: 16px;
  }
  .icon {
    align-items: center;
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts:hover .icon,
  .header-contacts:hover .icon {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-menu {
    display: flex;
  }
  .header-address {
    margin-left: 84px;
    padding: 21px 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-address {
    display: flex;
    padding: 32px 0;
    margin-left: 250px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts:hover, .header-contacts:focus {
    color: #2196f3;
  }
  .tel {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .tel {
    margin-top: 0;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .navigation .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .navigation .logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: #2196f3;
  }
  .active {
    color: #2196f3;
  }
  .active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -33px;
    background-color: #2196f3;
    border-radius: 4px;
  }
  .icon {
    align-items: center;
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts:hover .icon,
  .header-contacts:hover .icon {
    fill: #2196f3;
  }
  .menu-button {
    display: none;
  }
}

.hero {
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_img.jpg);
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_img@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tablet_img.jpg);
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tablet_img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_desktop_img.jpg);
    text-align: center;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_desktop_img@2x.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
    padding-top: 200px;
  }
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  position: relative;
  box-shadow: 1px 3px 0px #0b4572;
  top: 0;
  transition: all 250ms linear;
}

.button:hover {
  transition: all 250ms linear;
  top: 2px;
  box-shadow: 0px 1px 0px #0b4572;
}

.features-list {
  padding: 60px 0px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    padding: 92px 0;
  }
}

.list-item-antenna::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url(../images/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.list-item-clock::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url(../images/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .list-item-clock::before {
    margin-top: 0;
  }
}

.list-item-diagram::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url(../images/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .list-item-diagram::before {
    margin-top: 0;
  }
}

.list-item-astronaut::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url(../images/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .list-item-astronaut::before {
    margin-top: 0;
  }
}

.features-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .features-title-text {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-title-text {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 92px;
}

.about-list-item {
  position: relative;
  max-width: 370px;
}

.about-list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.about-list-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-subtitle {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-list {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    padding-bottom: 92px;
  }
}

.team-list-item {
  display: block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0px;
  }
}

.team-list-img {
  max-width: 100%;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
  width: 100%;
}

.clients-list-item {
  width: calc((100% - 15px * 2) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 15px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
    padding-bottom: 92px;
  }
}

.clients-list-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover, .clients-list-link:focus {
  border-color: #2196f3;
}

.clients-list-svg {
  width: 88px;
  height: 45px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-list-svg,
.clients-list-link:focus .clients-list-svg {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer address {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer address {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer address {
    padding-left: 0;
    padding-bottom: 60px;
    margin-right: 70px;
    margin-bottom: 0;
    text-align: initial;
  }
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-list {
  margin-top: 20px;
}

.footer-links {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-links {
    padding-top: 65px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-links {
    padding-top: 72px;
    padding-right: 0;
    margin-right: 93px;
    align-items: initial;
  }
}

.footer-sign {
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-sign {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sign {
    display: block;
    width: 572px;
    margin: 0;
    padding-top: 72px;
    align-items: initial;
    text-align: initial;
  }
}

.logo-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-place {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-form {
  margin-top: 20px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-form {
    align-items: inherit;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
  }
}

.footer-form-input {
  width: 100%;
  height: 48px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
  }
}

.footer-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:not(:placeholder-shown) {
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-btn {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}

.footer-btn-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.footer-btn-svg {
  vertical-align: middle;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=main.css.map */