.features-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;

  .footer & {
    color: $white-dark-theme;
    margin-bottom: 20px;
  }
}
