$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-color: #2196f3;
$white-dark-theme: #ffffff;
$title-color: #212121;
$subtitle-color: #757575;
$background-color: #2f303a;
