.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #000000;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }

  &-blue {
    color: $accent-color;
  }
}
