.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }

  li:not(:nth-last-child(-n + 1)) {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    li:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }

  &-item {
    border: 1px solid #eeeeee;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &-img {
    position: relative;
    overflow: hidden;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects-list-item:hover & {
    transform: translateY(0);
  }

  &-title {
    font-family: $main-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $white-dark-theme;
    padding: 63px 24px;
  }
}

.projects-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-color;
  margin-top: 20px;
  padding: 0px 24px;
}

.projects-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $subtitle-color;
  margin-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}
